#lxdm {
	background-image: url("wave.svg");
	background-repeat: round;
}

#bottom_pane {
	background-color: #282a36;
/*	background-color: rgba(0,0,0,0.24);
*/
}

#time {
	font: Sans 12;
	color: #282a36;
}

#user_list, #login_entry {
	background-image: none
}

#prompt, #bottom_pane GtkLabel {
	color: #44475a;
	font: Sans 14;
}



